<?xml version="1.0"?>
<!--
/**
 * Copyright © 2025 Studio Raz. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="AssetPreProcessorPool">
        <arguments>
            <argument name="preprocessors" xsi:type="array">
                <item name="css" xsi:type="array">
                    <item name="rtl_css" xsi:type="array">
                        <item name="class" xsi:type="string">SR\RTLCss\Model\Css\Processor\RtlCssPreprocessor</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
